<!doctype html>
<html>
  <head>
    <title>Add New</title>
  </head>
  <style>
    li {margin: 15px;}
    div {margin: 15px;}
    body{
     background-image: url('https://images.theconversation.com/files/334473/original/file-20200512-82357-11i5o76.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop');
     background-size: cover;
     color: white;
     background-repeat: no-repeat;
     background-attachment: fixed;
   }
  </style>
  <body style="background-color:lavenderblush;">
    <h1 style="font-size:40px;">Add a New Squirrel Sighting to the Database</h1>
    <form action="." method="post">
      {% csrf_token %}
      <ul>
        <li style="font-size:25px;">Latitude: {{form.Latitude}}</li>
        <li style="font-size:25px;">Longitude: {{form.Longitude}}</li>
        <li style="font-size:25px;">Unique_Squirrel_ID: {{form.Unique_Squirrel_ID}}</li>
        <li style="font-size:25px;">Shift: {{form.Shift}}</li>
        <li style="font-size:25px;">Date: {{form.Date}}</li>
        <li style="font-size:25px;">Age: {{form.Age}}</li>
        <li style="font-size:25px;">Primary Fur Color: {{form.Primary_Fur_Color}}</li>
        <li style="font-size:25px;">Location: {{form.Location}}</li>
        <li style="font-size:25px;">Specific Location: {{form.Specific_Location}}</li>
        <li style="font-size:25px;">Is it Running? {{form.Running}}</li>
        <li style="font-size:25px;">Is it Chasing? {{form.Chasing}}</li>
        <li style="font-size:25px;">Is it Climbing? {{form.Climbing}}</li>
        <li style="font-size:25px;">Is it Eating? {{form.Eating}}</li>
        <li style="font-size:25px;">Is it Foraging? {{form.Foraging}}</li>
        <li style="font-size:25px;">Other_Activities: {{form.Other_Activities}}</li>
        <li style="font-size:25px;">Does it make sound Kuks? {{form.Kuks}}</li>
        <li style="font-size:25px;">Does it make sound Quaas? {{form.Quaas}}</li>
        <li style="font-size:25px;">Does it Moans? {{form.Moans}}</li>
        <li style="font-size:25px;">Does it has Tail flags? {{form.Tail_flags}}</li>
        <li style="font-size:25px;">Does it has Tail twitches? {{form.Tail_twitches}}</li>
        <li style="font-size:25px;">Did you Approach to it? {{form.Approaches}}</li>
        <li style="font-size:25px;">Was it Indifferent? {{form.Indifferent}}</li>
        <li style="font-size:25px;">Does it Runs away from you? {{form.Runs_from}}</li>
      </ul>
      <div><input type="submit" value="Submit" style="font-size:25px;"></div>
    </form>
    <p></p>
    <div><a href='/sightings/' style="color:white;font-size:25px;"> Back to Squirrel List</a></div>
    <div><a href='/' class='' style="color:white;font-size:25px;">Back to Homepage</a></div>
  </body>
</html>
