<!doctype html>
<html>
  <head>
	   <title>Homepage</title>
  </head>
  <body style="background-color:lavenderblush;">
    <div>
      <h1>Squirrel Project Homepage</h1>
      <p>Please go to List of Squirrels if you would like to see all the squirrel sightings, and you can update and add new sightings and view basic statistics of sightings on this page.</p>
      <ul>
        <li><a href='/sightings/' class=''>List of Squirrels</a></li>
      </ul>
      <p>You can also go to the Map of Squirrels page to see the first 100 locations where the squirrels were sighted before.</p>
      <ul>
        <li><a href='/map/' class=''>Map of Squirrels</a></li>
      </ul>
      <footer>
        <p>Produced by Rui Ji (rj2601) and Minxin Zhang (mz2820) for E4501 Tools for Analytics course at Columbia University</p>
      </footer>
    </div>
  </body>
</html>
