<!doctype html>
<html>
	<head>
		<title>Squirrel List</title>
	</head>
	<style>
		li {margin: 15px;}
		h1 {margin: 15px;}
		p {margin: 15px;}
		body{
		 background-image: url('https://www.freepnglogos.com/uploads/squirrel-png/download-squirrel-png-transparent-images-transparent-29.png');
		 background-repeat: no-repeat;
		 background-position: right bottom;
		 background-attachment: fixed;
	 }
	</style>
	<body style="background-color:lavenderblush;">
		<div>
			<ul>
				<li style="font-size:25px;"><a href='/sightings/stats/' class=''>Statistical Summary of All Squirrels</a></li>
				<li style="font-size:25px;"><a href='/sightings/add/' class=''>Add New Squirrels</a></li>
				<li style="font-size:25px;"><a href='/' class=''>Back to Homepage</a></li>
			</ul>
			<h1 style="font-size:40px;">List of Squirrels</h1>
			<p style="font-size:20px;">Each bullet point represents a squirrel instance</p>
			<p style="font-size:20px;">The Unique Squirrel ID, Date of Sightings, and a link to update the instance are provided</p>
			<p style="font-size:20px;">The "Update This Squirrel" link will redirect to the page where you can change some information of the specific squirrel sighting</p>
			<ul>
				{% for squirrel in squirrels %}
					<li>
						<div>
							{{ squirrel.Unique_Squirrel_ID }}
						</div>
						<div>
							{{ squirrel.Date }}
						</div>
						<a href='{{ squirrel.Unique_Squirrel_ID }}'>Update This Squirrel</a>
					</li>
				{% endfor %}
		  </ul>
		</div>
	</body>
</html>
