<!doctype html>
<html>
  <head>
    <title>Statistics</title>
  </head>
  <body style="background-color:lavenderblush;">
    <h1>Statistics of all Squirrel Sightings in Database</h1>
    <ul>
      <li>Total number of squirrel sightings: {{total_sightings}}</li>
      <li>Number of squirrels sighted in the Morning: {{morning_sightings}}</li>
      <li>Number of squirrels sighted in the Afternoon: {{afternoon_sightings}}</li>
      <li>Number of sighted Young Squirrels: {{young_squirrel}}</li>
      <li>Number of sighted Adult Squirrels: {{adult_squirrel}}</li>
    </ul>
    <div><a href='/sightings/'> Back to Squirrel List</a></div>
    <div><a href='/' class=''>Back to Homepage</a></div>
  </body>
</html>
