<!doctype html>
<html>
  <head>
    <title>Statistics</title>
  </head>
  <style>
    li {margin: 15px;}
    div {margin: 15px;}
    body{
     background-image: url('https://www.freewalldownload.com/hd-wallpapers-download/cute-squirrel-hd-wallpaper-images-photos-picture.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
   }
  </style>
  <body style="background-color:lavenderblush;">
    <h1 style="font-size:40px; background-color:PaleGreen;">Statistics of all Squirrel Sightings in Database</h1>
    <ul>
      <li style="font-size:25px;">Total number of squirrel sightings: {{total_sightings}}</li>
      <li style="font-size:25px;">Number of squirrels sighted in the Morning: {{morning_sightings}}</li>
      <li style="font-size:25px;">Number of squirrels sighted in the Afternoon: {{afternoon_sightings}}</li>
      <li style="font-size:25px;">Number of sighted Young Squirrels: {{young_squirrel}}</li>
      <li style="font-size:25px;">Number of sighted Adult Squirrels: {{adult_squirrel}}</li>
    </ul>
    <div><a href='/sightings/' style="font-size:25px;"> Back to Squirrel List</a></div>
    <div><a href='/' class='' style="font-size:25px;">Back to Homepage</a></div>
  </body>
</html>
