<!doctype html>
<html>
  <head>
    <title>Update</title>
  </head>
  <style>
    li {margin: 15px;}
    div {margin: 15px;}
    body{
     background-image: url('https://cdn.the-scientist.com/assets/articleNo/67575/aImg/37975/article-eavesdroppingsquirrel-l.png');
     background-size: cover;
     color: white;
     background-repeat: no-repeat;
     background-attachment: fixed;
   }
  </style>
  <body style="background-color:lavenderblush;">
    <h1 style="font-size:50px;">Modify an Existing Squirrel Sighting </h1>
    <form action="." method="post">
      {% csrf_token %}
      <ul>
        <li style="font-size:25px;">Latitude: {{form.Latitude}}</li>
        <li style="font-size:25px;">Longitude: {{form.Longitude}}</li>
        <li style="font-size:25px;">Unique_Squirrel_ID: {{form.Unique_Squirrel_ID}}</li>
        <li style="font-size:25px;">Shift: {{form.Shift}}</li>
        <li style="font-size:25px;">Date: {{form.Date}}</li>
        <li style="font-size:25px;">Age: {{form.Age}}</li>
      </ul>
      <div><input type="submit" value="Submit" style="font-size:25px;"></div>
    </form>
    <p></p>
    <div><a href='/sightings/' style="color:white;font-size:25px;"> Back to Squirrel List</a></div>
    <div><a href='/' class='' style="color:white;font-size:25px;">Back to Homepage</a></div>
  </body>
</html>
